/* For to know which Supabase environment variables are required */ 
NEXT_PUBLIC_SUPABASE_URL=https://ksckqxookcquoabvhjju.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzY2txeG9va2NxdW9hYnZoamp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyODM2NDAsImV4cCI6MjA5NTg1OTY0MH0.OzOGAsALwsL-ptZasy6TTbAPCzTT9Lt8aKIspBIEtIs
